@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* Replace Font with Google Sans */

@font-face {
  font-family: "Google Sans";
  src:  local("Google Sans Regular");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Google Sans";
  src:  local("Google Sans Italic");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Medium Italic");
  font-weight: 400;
  font-style: italic
}
@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Bold");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: "Google Sans";
  src: local("Google Sans Bold Italic");
  font-weight: 700;
  font-style: italic
}

@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Regular");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Italic");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Bold");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Product Sans";
  src: local("Product Sans Bold Italic");
  font-weight: 700;
  font-style: italic
}

* {
  font-family: "Google Sans", "Product Sans" !important;
}
